$primary-color: #0e2a40;

$font-weights:(
    "regular": 400,
    "medium": 500,
    "bold":700,
);

$font-title: 'tahoma';

$redes: (
    instagram: #a19fa1,
    twitter: #8686a0,
    facebook: #3a5795,
)

